<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "/static/js/javascript.js"></script>
    <style>

        .image-container {
        position: relative; 
        }   

        .image-container img.carousel-img {
            display: block;
            width: 100%;
            height: auto;
        }

        .image-container .priceimg {
            position: absolute;
            bottom: 10px; 
            left: 10px; 
            width: 50px; 
            height: auto;
        }

        .image-container .price-value {
            position: absolute;
            bottom: 0px;
            left: 70px; 
            font-weight: bold;
            font-size: 20px;
        }
        .totalIcon {
            padding-top: 20px;
        }
        
    </style>
</head>



<body>

    <!-- navbar -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/src/rockpet.png" width="30" height="30" class="d-inline-block align-top me-2" alt="Logo">
            PetRock
        </a>
    </nav>

    <div class="totalIcon">
        <img src="/static/src/moneyicon.png" width="150" height=auto style="float:left">
        <!-- NOTE filler value for now prob should read value from user table one database created -->
        <p id="totalMoney" style="font-size:50px; font-weight: bold;">75</p>
    </div>

    <!-- This was painful to have to rewrite -->
    <section class="pt-5 pb-5">
        <div class="container">
            {% for category, items in grouped_items.items() %}
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3">{{ category | capitalize }}</h3>
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary mb-3 mr-1" 
                       href="#carousel{{ category }}" 
                       role="button" 
                       data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3" 
                       href="#carousel{{ category }}" 
                       role="button" 
                       data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="carousel{{ category }}" 
                         class="carousel slide" 
                         data-ride="carousel" 
                         data-interval="false">
                        <div class="carousel-inner">
                            {% for chunk in items|batch(3) %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="row">
                                    {% for item in chunk %}
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <div class="image-container">
                                                <img class="img-fluid carousel-img" alt="{{ item.item_type }}" src="/static/src/{{ item.item_path }}">
                                                <img src="/static/src/moneyicon.png" class="priceimg">
                                                <p class="price-value">{{ item.price }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>                  
    </section>


    <!-- Default Bootstrap Modal -->
    <div id="purchaseModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Purchase Confirmation</h5>
            </div>
            <div class="modal-body">
                <!-- mostly filler cause it gets rewritten -->
              <p id="modalText">Are you sure you want to make this purchase?</p>
            </div>
            <div class="modal-footer">
              <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="confirmButton" type="button" class="btn btn-primary">Confirm</button>
            </div>
          </div>
        </div>
    </div>


    <!-- JavaScript dependencies -->
    <script type="text/javascript" src= "https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript"
        src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script type="text/javascript"
        src= "https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>

</html>
